#page{
    background-color: rgb(22, 165, 34);
    text-align: center;
}

.homepage-title{
    font-family: cursive, sans-serif;
    font-size: 50px;
}
n
h3{
    color: red;
}

ol{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orange;
}
